In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
#upload a dataframe for residential location and demographic decomposition of urban population acording to LEHD
LEHDR=pd.read_csv("LEHD-resident.csv",index_col=0)

In [3]:
#upload a dataframe for work location and demographic decomposition of urban population acording to LEHD
LEHDW=pd.read_csv("LEHD-work.csv",index_col=0)

In [4]:
#merge the two dataframes: perform inner merge on index
#as column names are largely repeated, introduce a suffix for the ones from the second dataframe
Pdata=LEHDR.merge(LEHDW, on=None, left_index=True, right_index=True, how='inner', suffixes=('','W'))
#also for the sake of consistency rename the total from LEHDR into totalR
Pdata.rename(columns={'total':'totalR'},inplace=True)

In [5]:
Pdata.head()

,totalR,male,female,age_under_29,age_30_54,age_55_over,white,black,asian,others,...,age_55_overW,whiteW,blackW,asianW,othersW,two_or_moreW,less_high_schoolW,high_schoolW,collegeW,bachelorW
tz,,,,,,,,,,,,,,,,,,,,,
3,11398,5393,6005,2551,6346,2501,5990,4106,973,120,...,1323,2513,1968,386,39,83,637,941,1287,1232
4,12318,6125,6193,3731,6421,2166,8259,2063,1591,122,...,523,1884,512,251,24,46,350,434,599,646
5,10751,5546,5205,2154,6057,2540,9513,464,656,36,...,241,960,139,87,0,5,96,181,257,338
6,6729,3287,3442,1409,3692,1628,5093,677,818,53,...,689,1907,330,206,20,32,167,453,540,844
7,43048,21648,21400,11777,24286,6985,32818,3975,5114,334,...,3606,12137,2789,1910,143,244,2238,3083,3795,4101